@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h2>Registered Functions</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Function Name</th>
            <th scope="col">Listening On</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kpv in Registrar.Instance.FunctionList)
        {
            var opts = kpv.Value;

            <tr>
                <th scope="row">@opts.LambdaName</th>
                <td>@opts.ListensOn()</td>
            </tr>
        }
    </tbody>
</table>